body {
  background: rgb(14, 250, 155);
  background: linear-gradient(
    90deg,
    rgba(14, 250, 155, 1) 0%,
    rgba(53, 232, 139, 1) 0%,
    rgba(7, 255, 193, 1) 1%,
    rgba(23, 184, 207, 1) 100%
  );
}

.App {
  margin-top: 20px;
}

.edit-icon {
  margin-top: 8px !important;
  color: green !important;
}

.delete-icon {
  color: red !important;
}

.table-head {
  background-color: #2988ff !important;
  color: white !important;
}

.heading-txt {
  text-align: center;
}
